.pet-footer {
    height: 40px;
    background-color: $black;
    color: $white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    .text {
        margin: 0;
        text-align: left;
    }
}