<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
	<rewrite>
        <rules>
				<!--<rule name="page-builder-home" enabled="true" stopProcessing="true">
                    <match url="page-builder/*" />
                    <action type="Rewrite" url="page-builder.html" appendQueryString="false" logRewrittenUrl="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                </rule>
                <rule name="page-builder-render" enabled="true" stopProcessing="true">
                    <match url="page-builder/*/render" />
                    <action type="Rewrite" url="page-builder.html" logRewrittenUrl="true" />
                </rule>-->
                <rule name="AngularJS-Html5-Routes" enabled="true" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="api/*" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
        </rules>
    </rewrite>

        <security>
            <requestFiltering>
                <verbs>
                    <add verb="OPTIONS" allowed="false" />
                </verbs>
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
