/*
 * @CreateTime: Dec 2, 2017 6:15 PM
 * @Author: Hieu Tran
 * @Contact: hieutranagi47@gmail.com
 * @Last Modified By: Hieu Tran
 * @Last Modified Time: Jan 5, 2018 3:52 PM
 * @Description: Modify Here, Please 
 */

 $border-colour: rgba(0,0,0,.2);
 $primary-text: rgba(#000, .9); 
 $secondary-text: rgba(#000, .8); 
 $label-text: rgba(#000, .6); 
 $placeholder-text: rgba(#000, .4); 
 
 $green: #006622;
 $light-green: #4CAF50;
 $emerald-green: #00A19C;
 $dark-purple: #432C5F;
 $purple: #58478D;
 $violet: #615E9B;
 $light-blue: #93BFEB;
 $dark-green: #395542;
 $lime: #CBD34C;
 $gold: #EFAA23;
 $beige: #CEB888;
 $red: #D81F2A;
 $black: #000;
 $deep-gray: #3D3935;
 $nightRider: #333333;
 $matterhorn: #4d4d4d;
 $dim-gray: #666666;
 $gray: #777777;
 $nobel: #999999;
 $light-gray: #cccccc;
 $white-smoke: #F2F2F2;
 $white: #fff;
 
 $breakdown-mobile-down: 319px;
 $breakdown-mobile: 320px;
 $breakdown-tablet-down: 599px;
 $breakdown-tablet: 600px;
 $breakdown-small-down:  959px;
 $breakdown-small:  960px;
 $breakdown-medium-down: 1279px;
 $breakdown-medium: 1279px;
 $medium-client: 1200px;
 $breakdown-large-down:  1599px;
 $breakdown-large:  1600px;
 $large-client: 1440px;
 $breakdown-xlarge-down: 1919px;
 $breakdown-xlarge: 1920px;
 $xlarge-client: 1600px;
 