<div class="pet-container main-content pet-client-container" ng-controller="UserManagementCtrl as vm">

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-body">
            <form novalidate name="pacForm" ng-submit="pacForm.$valid && update(model)">
                <div class="modal-header">
                    <h3 class="modal-title">I'm a modal!</h3>
                </div>
                <div class="modal-body form-horizontal">
                    <div ng-show="pacForm.$submitted || pacForm.cycleName.$touched">
                        <span class="has-error" ng-show="pacForm.pacName.$error.required">PAC Name is required</span>
                    </div>

                    <div ng-show="pacForm.$submitted || pacForm.status.$touched">
                        <span class="has-error" ng-show="pacForm.status.$error.required">Status is required</span>
                    </div>

                    <label class="control-label">PAC Name</label>
                    <input class="form-control" name="pacName" ng-model="model.pacName" required placeholder="PAC Name" />

                    <label class="control-label">Status</label>
                    <select required name="status" class="form-control" ng-model="model.isActive"
                            ng-options="o.v as o.n for o in [{ n: 'Please select', v: '' }, { n: 'activate', v: true }, { n: 'deactivate', v: false }]"></select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">update</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </script>

    <script type="text/ng-template" id="myModalContent1.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <form novalidate name="pacForm" ng-submit="pacForm.$valid && update(model)">
                <div class="modal-body form-horizontal">
                    <div ng-show="pacForm.$submitted || pacForm.cycleName.$touched">
                        <span class="has-error" ng-show="pacForm.pacName.$error.required">PAC Name is required</span>
                    </div>
                    <div ng-show="pacForm.$submitted || pacForm.status.$touched">
                        <span class="has-error" ng-show="pacForm.status.$error.required">Status is required</span>
                    </div>

                    <label class="control-label">DEMO Name</label>
                    <input class="form-control" name="demo" ng-model="model.demo" required placeholder="PAC Name" />

                    <label class="control-label">PAC Name</label>
                    <input class="form-control" name="pacName" ng-model="model.pacName" required placeholder="PAC Name" />

                    <label class="control-label">Status</label>
                    <select required name="status" class="form-control" ng-model="model.isActive"
                            ng-options="o.v as o.n for o in [{ n: 'Please select', v: '' }, { n: 'activate', v: true }, { n: 'deactivate', v: false }]"></select>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" type="button">update</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="vm.open('', 'myModalContent1.html')">Create User!</button>
    <button type="button" class="btn btn-default" ng-click="vm.open('lg', 'myModalContent.html')">Large modal</button>
    <button type="button" class="btn btn-default" ng-click="vm.open('sm', 'myModalContent.html')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
    <p>------------------------------</p>

    <!-- <div ui-grid="gridOptions" ui-grid-pagination class="myGrid">
    </div> -->


    <div style="padding-left: 30px;">
        <button type="button" id="addRow" class="btn btn-success" ng-click="addEmployee()">Add New Employee</button>
    </div>
    <br />
    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize
        class="grid">
    </div>
</div>