<appSettings>
  <add key="SSOApiBaseUrl" value="https://sso.petronas.com/" />
  <add key="SSOLogout" value="api/Logout" />
  <add key="MockPass" value="P@ssw0rd" />
  <add key="SSOWebAuthLogin" value="api/Web/Auth/Login"/>
  <add key="ApplicationId" value="0C8AFC13-0168-4E2C-9A81-A61162D0823B"/>
  <add key="LdapPathPetronas" value="LDAP://PETRONAS.PETRONET.DIR:389/DC=PETRONAS,DC=PETRONET,DC=DIR" />
  <add key="LdapPathKLCC" value="LDAP://KLCC.PETRONET.DIR/DC=KLCC,DC=PETRONET,DC=DIR" />
  <add key="LdapUsername" value="svc.or2eadm" />
  <add key="LdapPassword" value="Nu@120815" />
  <add key="Domain" value="1-PETRONAS" />
  <add key="FromMail" value="Shahrulrizal.said@petronas.com.my"/>
  <!--<add key="SMTPServer" value="CEN302-SMTP.PETRONAs.PETRONET.DIR"/>-->
  <add key="IsSendMail" value="Yes"/>
  <add key="ApiUrl" value="/api"/>
  <!-- <add key="SMTPUser" value="sdpi.read"/>
  <add key="SMTPPassword" value="Rendah@1"/>-->
  <add key="SMTPServer" value="smtp.gmail.com"/>
  <add key="SMTPUser" value="thanhtung09t2@gmail.com"/>
  <add key="SMTPPassword" value="Ad!@#Tung91"/>
  <add key="SMTPPort" value="587"/>
  <!--<add key="SMTPUser" value="myminutes.open"/>
  <add key="SMTPPassword" value="Petronas@1"/>-->
  <!--<add key="SMTPPort" value="25"/>-->
  <add key="SMTPEnableSSL" value="true"/>
  <add key="ClientWebUrl" value="http://localhost:3000"/>
  <add key="KnowledgeDetailPath" value="knowledge-discovery"/>
  <add key="SkipSendingEmail" value="false"/>
  <add key="TrendingDaysRange" value="7"/>
  <add key="CaptchaPrivateKey" value="6LcH-v8SerfgAPlLLffghrITSL9xM7XLrz8aeory"/>
</appSettings>
