@font-face {
    font-family: "Museo Sans";
    @include MuseoSans(300);
}

@font-face {
    font-family: "Museo Sans 300";
    @include MuseoSans(300);
}

@font-face {
    font-family: "Museo Sans 500";
    @include MuseoSans(500);
}

@font-face {
    font-family: "Museo Sans 700";
    @include MuseoSans(700);
}

@font-face {
    font-family: "Museo Sans 900";
    @include MuseoSans(900);
}